pip==24.2
albucore==0.0.14
albumentations==1.4.14
aliyun-python-sdk-core==2.15.2
aliyun-python-sdk-kms==2.16.5
annotated-types==0.7.0
cffi==1.17.0
click==8.1.7
colorama==0.4.6
crcmod==1.7
cryptography==43.0.0
eval-type-backport==0.2.0
filelock==3.14.0
fsspec==2024.6.1
huggingface-hub==0.24.6
imageio==2.35.1
jmespath==0.10.0
lazy-loader==0.4
markdown==3.7
markdown-it-py==3.0.0
mdurl==0.1.2
model-index==0.1.11
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.1
ordered-set==4.1.0
oss2==2.17.0
packaging==24.1
pandas==2.2.2
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.8.2
pydantic-core==2.20.1
pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2023.4
requests==2.28.2
rich==13.4.2
safetensors==0.4.4
scikit-image==0.24.0
scipy==1.14.1
setuptools==60.2.0
six==1.16.0
tabulate==0.9.0
tifffile==2024.8.30
timm==1.0.9
tqdm==4.65.2
tzdata==2024.1
urllib3==1.26.20
